.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cardMain{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

.about{
  width: 30%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

form{
  margin-top: 20px;
}

.temp-st{
 margin-top: 3%;
 margin-bottom: 3%;
  padding: 20px;
  
  border-radius: 10px;
  background: rgba(1, 1, 1, .2);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@media screen and (max-width: 690px) {
  .cardMain{
    width: 90%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
